<h1>FORCE AWAKENS</h1>
<img src="http://pre05.deviantart.net/9247/th/pre/f/2015/319/9/e/star_wars_finn_banner__hi_res_textless_wallpaper__by_aracnify-d9gs50g.jpg" style="width:100%;">
<h1>THE LIGHT SIDE</h1>
<% @lightsides.each do |lightside| %>
<%= link_to image_tag(lightside.url), "/lightsides/#{lightside.id}" %>
  <p><%= lightside.name %></p>
<% end %>

<ul>
  <%= link_to "ADD THE LIGHTSIDE", "/lightsides/new" %>
  </br>
  </br>
  <%= link_to "HOME ", "/" %>
</ul>
