<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
    <title></title>
  </head>
  <body>
    <h1>FORCE AWAKENS</h1>  
  <img src="http://pre07.deviantart.net/b0b4/th/pre/f/2015/343/9/9/star_wars_kylo_banner__hi_res_textless_wallpaper__by_lightsabered-d9jg0ph.jpg" style="width:100%;">
  <h1>THE DARKSIDE</h1>
    <% @darksides.each do |darkside| %>
     <%= link_to image_tag(darkside.url), "/darksides/#{darkside.id}" %>
      <p><%= darkside.name %></p>
    <% end %>

    <%= link_to "ADD THE DARKSIDE", "/lightsides/new" %>
</br>
</br>
    <%= link_to "HOME ", "/" %>


  </body>
</html>
