
 body {
   background-color: black;
   background-image: url(https://i.ytimg.com/vi/voWpbz1De_M/maxresdefault.jpg);
   image-orientation: center;
   font-family: 'Didact Gothic', sans-serif;
   text-align: -webkit-center;

 }
 html {
 margin-top: 0px;
 margin-bottom: 0px;
 margin-right: 0px;
 margin-left: 0px;
 }

 div {
   object-position: center;
   text-align: center;
 }
 h1 {
   color: white;
   font-size: 100px;
   font-family: arial;
   text-align: center;
   -webkit-margin-before: 0.20em;
   -webkit-margin-after: 0.20em;

 }

 /*h2 {
   color: blue;
   font-size: 85px;
   font-family: 'Didact Gothic', sans-serif;
   text-align: center;
   text-decoration: line-through;
   display: inline;
   margin-left: 10px;
 }*/

 h3 {
   color: gold;
   font-size: 38px;
   font-family: arial;
   text-align: center;
 }

 h5 {
   color: red;
   font-size: 85px;
   font-family: 'Didact Gothic', sans-serif;
   text-align: center;
   text-decoration: line-through;
   display: inline;

 }



 img {
   width: 100%;
   image-orientation: center;
 }

 p,h2 {
   color: #00FFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 50px;
   font-family: 'Didact Gothic', sans-serif;
   /*text-decoration: underline;*/
   -webkit-margin-before: 0.05em;
   -webkit-margin-after: 0.50em;
 }
 a {
   color: white;
   text-align: center;
   text-transform: uppercase;
   font-size: 50px;
   font-family: 'Didact Gothic', sans-serif;
   text-align: center;
   margin: auto;
 }
 /* STAR WARS EFFECTS*/
 input, textarea, keygen, select, button {
     color: initial;
     letter-spacing: normal;
     text-transform: none;
     text-align: start;
     margin: 0em 0em 0em 0em;
     font: 50px;
     font-style: normal;
     font-variant: normal;
     font-weight: normal;
     font-stretch: normal;
     font-size: 50px;
     line-height: normal;
     font-family: BlinkMacSystemFont;
 }
 .button{
  color: #bbbbbb;
  width: 200px;
  height: 100px;
  /*add any other properties you want to style*/
}
