<!DOCTYPE html>
<html>
<head>
  <title>RailsAwakensSides</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <a name="top"></a>
  <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
  <h1>THE FORCE AWAKENS</h1>
</head>
<body>

<%= yield %>


</body>
</html>
